.container{

    padding: 0 200px;
    background-color: #232323;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    padding: 10px;
    color: #C60E0D;
    font-family: "Times New Roman";
    font-size: 30px;
    letter-spacing: 2px;
}

.insideLogo{
    color: white
}

.info{
    padding: 10px;
    color: white;
    font-family: "Times New Roman";
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    border: solid 1px white;
}